    .center {
        display: block;
        width: 30%;
        margin: auto auto;
    }
    
    td {
        /* display: inline; */
        /* max-width: 60px;
        min-width: 80px; */
    }
    
    .arrange {
        margin-right: 70px;
    }
    
    .arrange2 {
        margin-right: 25px;
    }
    
    .arrange3 {
        margin-right: 85px;
    }
    
    .arrange4 {
        margin-right: 100px;
    }
    
    .arrange5 {
        margin-right: 115px;
    }
    
    .arrange6 {
        margin-right: 75px;
    }
    
    .inline {
        margin-left: 5px;
        display: block;
        margin: 0;
    }
    
    .arrangement {
        text-align: justify;
        position: relative;
        padding: 50px;
    }
    
    .box1 {
        margin: 20px 40px;
    }
    
    .btn {}
    
    body {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        /* background-color: #944dff; */
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* margin: 30px; */
    }
    
    table {
        background-color: #944dff;
        align-content: center;
        justify-content: center;
        display: flex;
        margin: 30px;
        padding: 30px;
    }
    
    h1 {
        text-transform: uppercase;
        text-align: center;
        color: blue;
        text-decoration: underline;
    }
    
    input {
        margin: 20px;
    }
    
    .arrange7 {
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 10px;
    }