.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        /* padding: top bottom left right; */
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 1s;
        position: relative;
        /* animation: moveInButton 0.1s ease-out 0.2s; */
    }
    &:hover {
        transform: translateY(-3px);
        /* box-shadow: (offset in x-direction)(shadow)(active box)(color); */
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        /* box-shadow: (offset in x-direction)(shadow)(active box)(color); */
        box-shadow: 0 5px 10px rgba($color-black, .2);
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInButton 0.5s ease-out 0.3s;
        animation-fill-mode: backwards;
    }
}