h1,
h2,
h3 {
    font-family: charmelade;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: 0.8em;
    text-shadow: 1px 1px 1.5px #000;
}

p {
    padding-left: 400px;
    text-align: center;
    max-width: 200px;
    min-width: 50px;
}

h2::first-line {
    font-size: 50px;
}

ul {
    margin-left: auto;
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    align-items: center;
    position: relative;
}

li {
    display: inline;
    margin: 10px;
}

img {
    width: 120px;
    height: 150px;
    /* display: inline;
    margin: auto; */
    /* display: flex; */
    align-items: center;
    align-self: stretch;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.img {
    padding-left: 280px;
    /* display: inline; */
}