
#main-container{
    display: flex;
    
    justify-content: center;


}
/* #container-1{
    background-color: cadetblue;
     width: 40%;     
} */
/* 
#container-2{
    background-color: tan;
    width: 40%;
    height: 500px;
    padding: 2px;
} */