
/*         
#204ac8
#1a3ba0
#3a61d4
*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Main Header*/
.main{
display: inline-block;
display: flex;
justify-content: space-around;
align-items: center;
}

header{
    margin: 0;
    padding:0  ;
background-color:#3a61d4 ;
color: #fff;
padding: 10px;
}

div.icon{
    letter-spacing: 10px;
    font-size: 15px;
}
.watsapp{
    color: #25D366;
}

div.btn{
    font-size: 13.5px;
    color: #666666;
    
}
div.paragraph{
    font-size: 14px;
    
}

/*Part 2 Header*/


.sec{
    background-color: rgba(245, 244, 244, 0.836);
    color: #666666;
    
    
}

header.sec ul li{
    display: inline-block;
    
}

.one{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

div.list ul li{
    margin:10px;
}

.current{
    background-color: #3a61d4;
    font-size: 13px;    
         padding: 8px 18px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}


/*INTRODUCTION*/

 section.tri .heading-img{

 }

.colr1{
    color: #3a61d4;
    font-family:Merriweather, serif;
    font-weight: bold;
}
.colr2{
    color:rgb(66, 121, 0);
    font-family:Merriweather, serif;

   font-weight: bold;

}














































/*Part footer*/

.footer{
    background-color: #3a61d4;
    color: #fff;
}