// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
// $color-grey-dark: #777;
// $color-white: #fff;
// $color-black: #000;
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;
    // box-sizing: border-box;
}

// .header {
//     height: 95vh;
//     /* background-image: linear-gradient(to right, #7ed56f, #28b485), url("../img/hero.jpg"); */
//     // background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url("../img/hero.jpg");
//     background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/hero.jpg");
//     background-size: cover;
//     /* background-position: bottom;
//     background-position: center; */
//     background-position: top;
//     position: relative;
//     /* clip: polygon(x y, x y, x y); */
//     clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
//     /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
// }
// .logo-box {
//     position: absolute;
//     top: 40px;
//     left: 40px;
// }
// .logo {
//     height: 35px;
// }
// .logo:hover {
//     animation: moveInRight 1s ease-out;
// }
// .text-box {
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
// }
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    /* animation-iteration-count: 2; */
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 17.4px;
    font-weight: 400;
    /* animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in; */
    animation: moveInRight 1s ease-out 0.2s;
}