body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#content {
    overflow: auto;
}

#nav,
#feature,
#footer {
    margin: 1%;
}

.column1,
.column2,
.column3 {
    display: inline;
    width: 31.3%;
    margin: 1%;
    float: left;
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
}

li {
    display: inline;
    padding: 0.5%;
}

#nav,
#footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

#feature {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
    text-align: center;
}