ul {
    /* list-style-image: url(1.png); */
    max-width: 30px;
    min-width: 20px;
}

li {
    margin: 10px;
    /* list-style-position: inside; */
    list-style: inside circle;
    max-width: 30px;
    min-width: 20px;
}

td {
    border: 1px solid #000;
    padding: 15px;
    border-spacing: 5px 5px;
}

.one {
    border-collapse: collapse;
}

.two {
    empty-cells: hide;
    border-spacing: 5px 15px 15px 0px;
}


/* 
input {
    background-image: url(1.png);
    background-repeat: no-repeat;
    border: 2px solid #000;
    background-position: 1px 1px 1px 1px;
    padding: 5px 10px 10px 20px;
    display: block;
} */

.submit {
    width: 100px;
    height: 30px;
    /* background-color: black; */
    background: linear-gradient(to left, 0, 0, 0, 0);
    color: #fff;
    border-color: #000;
    border-radius: 100px;
    transition: all .2s;
}

.submit:hover::before {
    color: #fff;
    /* transform: scaleY(-1px); */
    cursor: pointer;
}