td.des {
    max-width: 650px;
    min-width: 450px;
    text-align: left;
    margin: 0px;
    padding: 5px;
}

img {
    float: left;
}

.listing {
    float: right;
}


/* p {
    max-width: 300px;
    min-width: 200px;
} */

li {
    display: block;
}


/* 
p.one {
    box-shadow: inset 0px 7px 5px #777777;
} */

p.one {
    /* border: 2px solid #777777;
    max-width: 600px;
    min-width: 500px;
    max-height: 700px;
    min-height: 200px; */
    padding: 0;
    border: 2px solid #777;
    border-radius: 100px;
    max-width: 100px;
    min-width: 50px;
}

img {
    border-radius: 100px;
}