td.des {
    max-width: 650px;
    min-width: 450px;
    text-align: left;
    margin: 0px;
    padding: 5px;
}

img {
    float: left;
}

.listing {
    float: right;
}


/* p {
    max-width: 300px;
    min-width: 200px;
} */

li {
    display: block;
}

p.one {
    box-shadow: 10px 0px 7px 5px #777777;
}