p.one {
    text-align: center;
    /* padding: 10px; */
    width: 30%;
    min-width: 20px;
    background-color: lightgray;
    /* overflow: hidden; */
    border-style: solid;
    /* border-style: solid; */
    border-width: 2px;
    padding: 30px;
    /* margin: auto; */
    /* border-color: blue green hotpink orangered; */
    /* border-image: url("c.png") 11 11 11 11 round; */
    /* -moz-box-shadow: 5px 5px 5px 5px green; */
    box-shadow: 5px 5px 5px black;
    border-radius: 100px;
    border: 5px solid grey;
}


/* 
p.two {
    overflow: scroll;
}

li {
    display: block;
}

li.coming-soon {
    visibility: visible;
} */