/* Light green: #7ed56f
Mediun green: #55c57a
Dark green: #28b485 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  /* background-image: linear-gradient(to right, #7ed56f, #28b485), url("../img/hero.jpg"); */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  /* background-position: bottom;
    background-position: center; */
  background-position: top;
  position: relative;
  /* clip: polygon(x y, x y, x y); */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.logo:hover {
  animation: moveInRight 1s ease-out;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-delay: 1s; */
  /* animation-iteration-count: 2; */
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 17.4px;
  font-weight: 400;
  /* animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in; */
  animation: moveInRight 1s ease-out 0.2s;
}

/* @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px) rotate(0deg);
    }
    60% {
        transform: rotate(120deg);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
} */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  /* 60% {
        transform: rotate(120deg);
    } */
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  /* 80% {
        transform: translateX(10px);
    } */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding: top bottom left right; */
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 1s;
  position: relative;
  /* animation: moveInButton 0.1s ease-out 0.2s; */
}

.btn:hover {
  transform: translateY(-3px);
  /* box-shadow: (offset in x-direction)(shadow)(active box)(color); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  /* box-shadow: (offset in x-direction)(shadow)(active box)(color); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white:after {
  background-color: #fff;
}

.btn:hover:after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInButton 0.5s ease-out 0.3s;
  animation-fill-mode: backwards;
}
