/* .hidden{
    width: 350px;
    height: 350px;
    box-shadow: 1px 3px 5px grey;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    
    
} */

.slider-image{
 width: 70%;
 height: 300px;
 position: absolute;
left: 15%;   
}

.arrows{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 150px;
}
.right-arrow{
    width: 47px;
    height: 47px;
    left: 83%;
}

.left-arrow{
    left: 13%;
}













